@model Thunder.Models.ImgProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImgProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImgProduct1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgProduct1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProduceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProduceCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImgId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
