@model IEnumerable<Thunder.Models.Region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center"> Regions </h2>

<p>
    <a href="@Url.Action("Create", "Regions")" class="btn btn-info">
        <i class="	glyphicon glyphicon-floppy-saved"></i>
        <span>

        </span>
    </a>

</p>
<table class="table table-bordered table-striped table-responsive" id="datatablefill">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionDescription)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionDescription)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Regions", new { id = item.RegionId })" class="btn btn-success">
                        <i class="glyphicon glyphicon-flash"></i>
                        <span>

                        </span>
                    </a>
                   |
                    <a href="@Url.Action("Details", "Regions", new { id = item.RegionId })" class="btn btn-primary">
                        <i class="	glyphicon glyphicon-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Regions", new { id = item.RegionId })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatablefill').DataTable();


        });
    </script>
}